.about__container {
    display: flex;
}

.about__list {
    display: flex;
    margin-right: 64px;
    flex-shrink: 0;
}

.about__item {
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.about__pre-text {
    margin-bottom: 20px;
}

.about__title {
    margin-bottom: 20px;
}

.about__after-title {
    margin-bottom: 20px;
}

.about__text {
    margin-bottom: 40px;
}

.about__text {
    @include font(14px, 26px, 0.02em);
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--fifth-text-color);
}