.about__container {
    display: flex;
}

.about__list {
    // display: none;
    // margin-right: 64px;
    // flex-shrink: 0;
    @media screen and (min-width: 768px) {
display: flex;
flex-direction: column;
    margin-right: 30px;
    flex-shrink: 0;
    margin-bottom: -30px;
    width: 330px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: unset;
        flex-direction: row;
        width: unset;
    }
}

.about__item {
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
                margin-right: 30px;
        }
        margin-bottom: unset;
    }
    
}

.about__pre-text {
    margin-bottom: 20px;
}

.about__title {
    margin-bottom: 20px;
}

.about__after-title {
    margin-bottom: 20px;
}

.about__text {
    margin-bottom: 40px;
}

.about__text {
    @include font(14px, 26px, 0.02em);
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--fifth-text-color);
}