.header {
    position: absolute;
    width: 100%;
    left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-nav__logo {
    margin-right: 70px;
}

.header-list__link {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


.header-connect__contact {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


.header-nav {
    @extend %flex-align;
}

.header-list {
    display: flex;
}

.header-list__item {
    &:not(:last-child) {
        margin-right: 40px;
    }
}

/* .header-item + .header-item {
    margin-left: 40px;
} */

.header__container {
    @extend %flex-align;
}

.header-connect {
    margin-left: auto;
}

.header-connect__btn {
    margin-left: 40px;
}