.section.reasons {
    padding-top: 84px;
    @media screen and (min-width: 1200px) {
        padding-top: 121px;
    }
}

.reasons-pre-title {
    margin-bottom: 20px;
}

.reasons-container {
    display: flex;
    flex-direction: column-reverse;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.reasons-list-wrap {
    display: flex;
    justify-content: center;
    // width: 50%;
    width: 100%;
    flex-shrink: 0;
     @media screen and (min-width: 768px) {
        justify-content: flex-end;
    }

    @media screen and (min-width: 1200px) {
        width: 50%;
        justify-content: center;
    }
}

.reasons-list {
    display: flex;
// width: 370px;
    width: 100%;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}

.reasons-digit {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--third-text-color);
    display: block;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    &::after {
        content: "+";
        font-weight: 600;
        font-size: 16px;
        line-height: calc(22 / 16);
        text-align: center;

        color: var(--accent-color);
    }
}



.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;
    color: var(--third-text-color);
}

.reasons-item {
    width: 44%;;
    height: 133px;
    border: 1px solid #000000;
    padding: 20px 24px;
    &:nth-child(odd) {
        margin-right: 30px;
    }
    &:nth-child(even) {
        margin-top: 30px;
    }

    @media screen and (min-width: 480px) {
        width: 193px;
    }

     @media screen and (min-width: 768px) {
        width: 210px;
    }
     @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

.reasons-item-different {
    padding: 20px;
}

.reasons-pre-text {
    margin-bottom: 20px;
}

.reasons-title {
    margin-bottom: 20px;
}

.reasons-after-title {
    max-width: 500px;
}

.reasons-right {
    margin-bottom: 44px;
    @media screen and (min-width: 768px) {
        width: 500px;
    }
}