.pre-title {
    font-weight: 600;
    @include font(11px, 15px, 0.01em);
    text-transform: uppercase;
    @extend %flex-align;
    &:before {
        content: "";
        width: 63px;
        height: 1px;
        margin-right: 21px;
    }
}


.pre-title_color_light {
    color: var(--first-text-color);
    &::before {
        background-color: rgba(157, 164, 189, 0.6);
    }
}


.pre-title_color_dark {
    color: var(--third-text-color);
    &::before {
        background-color: var(--third-text-color);
    }
}
